.Header{

}

.Header__row {
    height: 100px;
    background: #036ffc;
}

.Header__nav__link {
    color: #FFF;
}

.Header__nav__link:hover {
    color: #FFF;
    text-decoration: none;
}

.Header__nav__link:visited {
    color: #FFF;
    text-decoration: none;
}

.Header__logo{
    width: 100px;
}