.brround {
    max-width: 100%;
}

.ProfileLeft__card {
    margin: 30px 0;
}

.ProfileLeft__card__item {
    min-height: 50px;
    color: #036ffc;
    text-decoration: none;
}

.ProfileLeft__card__item:visited , .ProfileLeft__card__item:hover {
    color: #036ffc;
    text-decoration: none;
}
